<%- include('../partials/head') %>
</head>
<body class="min-h-screen bg-gray-100">
  <%- include('../partials/nav') %>
    <h1 class="text-4xl font-bold text-blue-600 mb-8 text-center">Home Added Successfully</h1>
  </main>
</body>
</html>